+++
title = "Jedidex"
linkTitle = "Jedidex"
+++

{{< blocks/cover title="Welcome to Jedidex API" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		API Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gitlab.com/jedidex">
		Contribute <i class="fab fa-gitlab ml-2 "></i>
	</a>
	<p class="lead mt-5">The largest set of StarWars API of the internet!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Jedidex API is an Spring boot data rest API that sit on top of a Neo4J graph. Of course, it's free of charge for everyone.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}


{{% blocks/feature icon="fas fa-project-diagram" title="Huge graph" %}}
The Jedidex API database is a Neo4J graph, with more than 28'000 nodes and 230'000 relationships!

Periodically a dump of the database will be uploaded, stay tuned!
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-journal-whills" title="Wookiepedia" url="https://starwars.fandom.com/wiki/Main_Page" %}}
All the content is freely collected from Wookiepedia, the real bible of StarWars
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="https://gitlab.com/jedidex" %}}
We do a [Merge Request](https://gitlab.com/groups/jedidex/-/merge_requests) contributions workflow on **GitLab**. New users are always welcome!
{{% /blocks/feature %}}


{{< /blocks/section >}}




